footer.footer.d-flex.flex-column.flex-md-row.align-items-center.justify-content-between
  p.text-muted.text-center.text-md-left
    | Copyright © 2021 
    span.text-primary PUM Kelompok 1
  p.text-muted.text-center.text-md-left.mb-0.d-none.d-md-block
    | Handcrafted With
    i.mb-1.text-primary.ml-1.icon-small(data-feather='heart')