script(src='/vendors/core/core.js')
script(src='/vendors/chartjs/Chart.min.js')
script(src='/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')
script(src='/vendors/apexcharts/apexcharts.min.js')
script(src='/vendors/feather-icons/feather.min.js')
script(src='/js/template.js')
block dashboardjs
script(src='/js/datepicker.js')
