nav.sidebar
  .sidebar-header
    a.sidebar-brand(href='/') PUM 
      span 1
    .sidebar-toggler.not-active
      span
      span
      span
  .sidebar-body
    ul.nav
      block sidebarActive
      
